.row {
    margin: 0;
}
.header, .btns {
    margin: 5% 5%;
}

.title {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.title-desc {
    margin: 0 0 20% 0;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.btns input{
    display: block;
    text-decoration: none;
    margin: 5% auto;
    padding: 10px 0;
    width: 70%;
    font-family: 'Roboto-Mono', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
}

.clear-btn {
    width: 100%;
    padding: 4% 0;
    font-family: 'Cabin', monospace;
    font-size: 20px;
    font-weight: 500;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    color: aliceblue;
    background-color: rgb(201, 0, 27);
    border-radius: 0;
}

.browse {
    background-color: transparent;
    border: 3px solid rgba(29, 0, 97);
    color: rgb(29, 0, 56);
}

.browse:hover {
    background-color: rgb(58, 0, 97);
    border: 3px solid rgb(58, 0, 97);
    transition: all 0.2s ease-in-out;
    color: rgb(233, 233, 233);
}

.upload {
    border: 5px solid rgb(0, 145, 0);
    background-color: rgb(0, 145, 0);
    color: rgb(233, 233, 233);
}

.upload:hover {
    border: 5px solid rgb(62, 156, 62);
    background-color: rgb(62, 156, 62);
    color: rgb(233, 233, 233);
    transition: all 0.2s ease-in-out;
}

.imageViewer {
    margin: auto;
    display: block;
    background-color: rgb(11, 8, 26);
}

.label-cont {
    padding: 2% 0;
}

.imageLabel {
    border: 1px solid rgb(180, 180, 180);
    font-family: 'Lekton', monospace;
    font-size: 25px;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.904);
    text-transform: capitalize;
    padding: 1%;
    display: block;
}