.row {
    margin: 0;
}
.header, .btns {
    margin: 5% 5%;
}

.title {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.title-desc {
    margin: 0 0 20% 0;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.btns input{
    display: block;
    text-decoration: none;
    margin: 5% auto;
    padding: 10px 0;
    width: 70%;
    font-family: 'Roboto-Mono', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
}

.clear-btn {
    width: 100%;
    padding: 3% 0;
    font-family: 'Lekton', monospace;
    font-size: 25px;
    font-weight: 700;
    color: rgb(245, 245, 245);
    text-transform: capitalize;
    color: aliceblue;
    background-color: rgb(201, 0, 27);
    border: 3px solid rgb(201, 0, 27);
    border-radius: 0;
}

.browse {
    background-color: transparent;
    border: 5px solid rgb(29, 0, 56);
    color: rgb(29, 0, 56);
}

.upload {
    border: 5px solid rgb(91, 0, 151);
    background-color: rgb(91, 0, 151);
    color: aliceblue;
}

.imageViewer {
    margin: auto;
    display: block;
    background-color: rgb(11, 8, 26);
}

.label-cont {
    padding: 2% 0;
}

.imageLabel {
    background-color: rgb(248, 248, 248);
    border: 3px solid rgb(25, 0, 48);
    box-shadow: 2px 5px 5px 2px rgba(20, 20, 20, 0.11);
    font-family: 'Lekton', monospace;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.904);
    text-transform: capitalize;
    margin: auto;
    display: block;
}