<div class="row row-cont">
    <div class="col-md-6 main">
        <div class="header">
            <p class="title">Label Lab</p>
            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est
                laborum.</p>
        </div>

        <div class="btns">
            <form>
                <input class="submit" type="file" name="imgFile" id="imgFile" style="display: none"
                    (change)="onChange($event)" #imgUpload />
                <input class="browse" type="button" value="Browse" (click)="imgUpload.click()" />
                <input class="upload" type="button" value="Upload" (click)="uploadImg()" />
            </form>
        </div>
    </div>
    <div class="col-md-6 show-case">
        <div class="imageViewer">
            <canvas #canvasView width="800" height="650" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)"
                (mousemove)="mouseMove($event)"></canvas>
        </div>
        <div class="row label-cont">
            <input class="col-md-8 imageLabel" [ngModel]="imgLabel" readonly/>
            <div class="col-md-4">
                <button mat-flat-button class="clear-btn" (click)="clearAll()">Clear</button>
            </div>
        </div>
    </div>
</div>