<div class="row row-cont">
    <div class="col-md-9 show-case">
        <div class="imageViewer" (resized)="resizeCanvas($event)">
            <canvas #canvasView height="650" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)"
                (mousemove)="mouseMove($event)" (mouseleave)="mouseLeave()"></canvas>
        </div>
        <div class="row">
            <div class="row browse-button">
                <input class="submit" type="file" name="imgFile" id="imgFile" style="display: none"
                    (change)="onChange($event)" #imgUpload />
                <p *ngIf="imgObj != null">Wrong image?&nbsp;</p>
                <p *ngIf="imgObj == null">Welcome to Label Lab !&nbsp;</p>
                <a class="browse" (click)="imgUpload.click()">Select a new image</a>
                <span> &nbsp; / &nbsp; </span>
                <a class="browse" (click)="clearAll()">Clear image</a>
            </div>
        </div>
        <div class="row">
            <div *ngIf="isHovering && imgObj != null" class="tooltip-main">
                <p>Click and drag to create an annotation</p>
            </div>
            <div *ngIf="isHovering && imgObj == null" class="tooltip-main">
                <p>Select a new image to annotate</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class=label-list>
            <div class="annot-title">
                <p *ngIf="imgLabel.length != 0;else elseBlock" class="annotation">Annotations</p>
                <ng-template #elseBlock><i class="material-icons">border_inner</i></ng-template>
            </div>

            <div class="label-cont" *ngFor="let label of imgLabel">
                <i class="material-icons" (click)="clearLabel(label)">remove_circle_outline</i>
                <p class="label"> {{ label }} </p>
            </div>
            <div class="tip-one">
                <p class="tooltip-one">Select a region in the image to add an <br>annotation</p>
            </div>
        </div>
        <div class="upload-container">
            <button class="upload" (click)="uploadImg()">Upload Image</button>
        </div>
    </div>
</div>