.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;  /* Preferred icon size */
    direction: ltr;
    text-align: center;
    margin: auto;
    display: block;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

* {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.show-case {
    background-color: #F2F3F4;
}

.tooltip-main {
    background-color: #ED73EF;  
    border-radius: 15px;
    color: #F2F3F4;
    margin: auto;
    display: block;
}

.tooltip-main p {
    background-color: #ED73EF;
    color: #F2F3F4;
    margin: 2px 12px;
}

.browse-button {
    margin: auto;
    padding: 12px 0 0 0;
}

.browse-button p {
    font-size: 1em;
    color: #727274;
}

.browse-button a {
    font-size: 1em;
    color: #0172FF;
}

.browse-button a:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: rgba(1, 115, 255, 0.5);
}

.label-list {
    height: 680px;
}

.upload-container {
    position: relative;
    padding: 15px 0;
}

.upload {
    margin: auto;
    display: block;
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #0172FF;
    color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.upload:hover {
    background-color: transparent;
    border: 2px solid #0172FF;
    color: #16171A;
    transition: all 0.2s ease-in-out;
}


.imageViewer {
    margin: 3% 5% 1% 5%;
    display: block;
    background-color: rgb(11, 8, 26);
}

.annotation {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin: 2% 0;
}

.label-list {
    width: 100%;
}

.label-cont {
    border: 1px solid #F06738;
    border-radius: 5px;
    margin: 2%;
    padding: 1% 2%;
}

.label-cont p {
    color: #16171A;
    font-size: 17px;
    font-weight: 600;
    margin: 1% 2%;
    display: block;
    width: 60%;
    text-transform: capitalize;
}

.label-cont i {
    color: #F06738;
    font-size: 23px;
}

.tip-one {
    color: #727274;
    font-size: 16px;
    text-align: center;
}