/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

/*Modal Box style*/
.label-modal {
    width: 25%;
    height: auto;
    padding: auto;
}

.label-modal input {
    margin: 2% 0;
    height: 50px;
    width: 100%;
    padding: 0 5%;
    border: 1px solid rgb(199, 199, 199);
    font-family: 'Lekton', monospace;
    font-size: 20px;
    font-weight: 600;
    color: rgb(19, 19, 19);
    text-transform: capitalize;
}

.label-modal button {
    margin: 2% 0;
    height: 50px;
    width: 100%;
    background-color: rgb(87, 0, 168);
    color: rgb(236, 236, 236);
    border-radius: 0px;
}